.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  color: rgba(255, 255, 255, 0.9);
}

.footer button {
  border: 1px solid transparent;
}

.footer button:hover,
.footer button:focus {
  background-color: rgba(68, 70, 74, 0.9);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(68, 70, 74, 0.9);
}