.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  color: var(--background);
}

.footer button {
  border: 1px solid transparent;
}

.footer button:hover,
.footer button:focus {
  background-color: var(--scoreboard);
  color: var(--background);
  border: 1px solid var(--scoreboard);
}