
.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.dog-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.error {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.error span {
  display: block;
  font-size: 1.25rem;
}