.scoreboard {
  padding: 1rem 3rem;
  background-color: var(--scoreboard);
  color: var(--background);
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Lalezar';
  letter-spacing: 1px;
  font-size: 1.25rem;
}